= link_to 'Show map', map_show_path( game_board_id: @game_board.id )
|
= link_to 'Alliances bets', new_game_board_bet_path( game_board_id: @game_board.id )
|
= link_to 'Alliances status', game_board_alliances_path( game_board_id: @game_board.id )
| 
= link_to 'Alliances log', log_game_board_alliances_path( game_board_id: @game_board.id )